body.ferrari {
    background-image: url('img/enzo-ferrari_wikicommonsjpg.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: 'Mrs Saint Delafield', cursive;
}

.navbar {
    padding: 1rem;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.8); 
}

h1 {
    color: #c72c3b;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(238, 235, 235, 0.3);
    letter-spacing: 5px;
    text-align: center;
    font-size: 43px;
}

.homepage-h1 {
    color: #c72c3b;
    font-size: 300px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

h1:not(.homepage-h1) {
    font-family: 'Delius', cursive;
}

body.early {
    background-image: url('img/young.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    mask-repeat: no-repeat;
}

body.ferrari-car {
    background-image: url('img/car.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

body.racing {
    background-image: url('img/racing.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

body.challenges {
    background-image: url('img/multiple.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

body.legacy {
    background-image: url('img/old.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
