body.ferrari {
    background-image: url('enzo-ferrari_wikicommonsjpg.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: 'Mrs Saint Delafield', cursive;
}

.navbar {
    padding: 1rem;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.8); 
}

h1 {
    color: #c72c3b;
    font-size: 300px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 5px;
    text-align: center;
}
